---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
    return [
        // { params: { /* required */ }, props: { /* optional */ } },
        { params: { travaux: "tableaux" } }, // [post] is the parameter
        { params: { travaux: "sculptures" } }, // must match the file name
        { params: { travaux: "vaisselles" } }, // must match the file name
        // ...
    ];
}

const { travaux } = Astro.params; // Accès au paramètre dynamique
const pageTitles: any = {
    tableaux: "Tableaux",
    sculptures: "Sculptures",
    vaisselles: "Vaisselles",
};
const title = pageTitles[travaux] || "Mon travail";
---

<Layout title={title}>
    <main class="Masonry">
        <div class="Masonry__item">
            <Image
                loading="eager"
                decoding="async"
                width="300"
                height="200"
                src="https://picsum.photos/300/200"
                alt="Exemple de paysage"
            />
        </div>
        <div class="Masonry__item">
            <img src="https://picsum.photos/200/300" alt="" />
        </div>
        <div class="Masonry__item">
            <img src="https://picsum.photos/300/200" alt="" />
        </div>
        <div class="Masonry__item">
            <img src="https://picsum.photos/300/200" alt="" />
        </div>
        <div class="Masonry__item">
            <img src="https://picsum.photos/500" alt="" />
        </div>
        <div class="Masonry__item">
            <img src="https://picsum.photos/400/200" alt="" />
        </div>
    </main>
</Layout>

<style lang="scss">
    .Masonry {
        column-count: 1;
        column-gap: 0.5rem;
        max-width: 1280px;
        padding: 0 2rem;
        margin: 4rem auto;
        &__item {
            display: inline-block;
            margin: 0 0 0.5rem 0;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    @media screen and (min-width: 448px) {
        .Masonry {
            column-count: 2;
        }
    }
    @media screen and (min-width: 640px) {
        .Masonry {
            column-count: 3;
        }
    }
    @media screen and (min-width: 992px) {
        .Masonry {
            column-count: 4;
        }
    }
</style>
