---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
    return [
        // { params: { /* required */ }, props: { /* optional */ } },
        { params: { travaux: "tableaux" } }, // [post] is the parameter
        { params: { travaux: "sculptures" } }, // must match the file name
        { params: { travaux: "vaisselles" } }, // must match the file name
        // ...
    ];
}

const { travaux } = Astro.params; // Accès au paramètre dynamique
const pageTitles: any = {
    tableaux: "Tableaux",
    sculptures: "Sculptures",
    vaisselles: "Vaisselles",
};
const identifiants: any = {
    tableaux: 4,
    sculptures: 3,
    vaisselles: 2,
};
const title = pageTitles[travaux] || "Mon travail";

const identifiant = identifiants[travaux] || 0;

const fetchUrl = `https://admin.laure-ferrando.com/wp-json/wp/v2/travail?categories=${identifiant}`;
const response = await fetch(fetchUrl);
const data = await response.json();
---

<Layout title={title}>
    <main class="Masonry">
        {
            data.map((item: any) => (
                <div class="Masonry__item">
                    <Image
                        loading="eager"
                        decoding="async"
                        src={item.acf.oeuvre.url}
                        width={item.acf.oeuvre.width / 2}
                        height={item.acf.oeuvre.height / 4}
                        alt="Un logo"
                    />
                </div>
            ))
        }
    </main>
</Layout>

<style lang="scss">
    .Masonry {
        column-count: 1;
        column-gap: 0.5rem;
        max-width: 1280px;
        padding: 0 2rem;
        margin: 4rem auto;
        &__item {
            display: inline-block;
            margin: 0 0 0.5rem 0;
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
    @media screen and (min-width: 448px) {
        .Masonry {
            column-count: 2;
        }
    }
    @media screen and (min-width: 640px) {
        .Masonry {
            column-count: 3;
        }
    }
    @media screen and (min-width: 992px) {
        .Masonry {
            column-count: 4;
        }
    }
</style>
