:root {
    --font-family-titles: 'Libre Baskerville', serif;
    --font-family-text: 'Lato', sans-serif;

    --background-color: #F3F1ED;
    --text-color: #342D1F;
    --accent-color: #B39966;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-text), sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2 {
    font-family: var(--font-family-titles), serif;
}