---
import Layout from "../../layouts/Layout.astro";
import { Fetcher } from "../../utils/fetchUtils.js";

const fetchComponent = new Fetcher();

const products = await fetchComponent.fetchData("wp-json/wc/v3/products");
---

<Layout title="Boutique">
    <div class="Boutique">
        <div class="Boutique__products">
            {
                products.map((product: any) => (
                    <div class="Boutique__products__product">
                        <img
                            class="Boutique__products__product__image"
                            src={product.images[0] ? product.images[0].src : ""}
                            alt=""
                        />
                        <h2 class="Boutique__products__product__title">
                            {product.name}
                        </h2>
                        <p class="Boutique__products__product__price">
                            {product.price} €
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>

<style lang="scss">
    .Boutique {
        &__products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            gap: 1rem;
            padding: 2rem;
            &__product {
                &__image {
                    width: 100%;
                    height: 336px;
                    object-fit: cover;
                }
                &__title {
                    font-size: 1rem;
                    margin: 0.5rem 0;
                    font-family: "Lato", sans-serif;
                    font-weight: 600;
                }
                &__price {
                    font-size: 1rem;
                    font-family: "Lato", sans-serif;
                    font-weight: 300;
                }
            }
        }
    }
</style>
